.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 100px;
  color: white;
  text-align: center;
}

h2 {
  line-height: 100px;
}

iframe {
  display: block;
  margin: 0 auto;
}
